= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    .control
      = f.email_field :email, label: false, autofocus: true, class: 'input', placeholder: t(:email)
  .field
    .control
      = f.password_field :password, label: false, autocomplete: "off", class: 'input', placeholder: t(:password)

  - if devise_mapping.rememberable?
    %label.checkbox
      = f.check_box :remember_me
      = t(:remember_me)

  .buttons
    = f.submit "Sign in", class: 'button is-primary'
