%section.section
  .container

    %h1.title Tell people about your pricing!
    %p pages#pricing

    .columns
      .column.is-1
      .column.is-4
        .card
          .card-header.has-text-centered
            %h1.card-header-title Basic
          .card-image
            %figure.image.is-3by1
              = image_tag 'logo.png'
          .card-content
            %h5.has-text-centered
              $9.00 USD
              %small /month
              %ul
                %li
                  = icon(:check)
                  Get access
          .card-footer
            = link_to 'Get Basic', new_registration_path(resource_name, plan_id: Product.active&.first&.plan&.active&.first&.id), class: 'button is-primary is-fullwidth'

      .column.is-2
      .column.is-4
        .card
          .card-header.has-text-centered
            %h1.card-header-title Pro
          .card-image
            %figure.image.is-3by1
              = image_tag 'logo.png'
          .card-content
            %h5.has-text-centered
              $15.00 USD
              %small /month
              %ul
                %li
                  = icon(:check)
                  Get access
                %li
                  = icon(:check)
                  Access to Pro page
          .card-footer
            = link_to 'Get PRO', new_registration_path(resource_name, plan_id: Product.active&.second&.plan&.active&.first&.id), class: 'button is-primary is-fullwidth'
