%nav.navbar.is-fixed-top{role: 'navigation', 'aria-label': 'main navigation'}
  .container
    .navbar-brand
      = link_to root_path, class: "navbar-item" do
        = image_tag 'logo.png', width: 112, height: 28

      %a.navbar-burger.burger{role: 'button', 'aria-label': 'menu', 'aria-expanded': false, data: {target: 'navbar-menu'}}
        %span{'aria-hidden': true}
        %span{'aria-hidden': true}
        %span{'aria-hidden': true}

    #navbar-menu.navbar-menu
      .navbar-start
        = link_to "Dashboard", dashboard_path, class: "navbar-item"
        - if current_user.product.pro?
          = link_to "Pro Page", pro_path, class: "navbar-item"

      .navbar-end
        -# TODO
        .li.nav-item.dropdown
          = link_to avatar(current_user, :sm), "#", {"data-toggle": "dropdown", role: "button", "aria-haspopup": true, "aria-expanded": false}
          .dropdown-menu.dropdown-menu-right
            = link_to "Account", edit_user_registration_path, class: "dropdown-item"
            - if current_user.admin?
              = link_to "Admin", admin_root_path, class: "dropdown-item"
            - else
              = current_user.subscribed_to_any? ? link_to("Billing", billing_path, class: "dropdown-item") : link_to("Subscribe ", subscribe_path, class: "dropdown-item")
            .dropdown-divider
            = link_to "Stop Impersonating", admin_stop_impersonating_path, class: "dropdown-item" if current_user != true_user
            = link_to "Logout", main_app.destroy_user_session_path, class: "dropdown-item"
